body{
    margin: 0;
    padding: 0;
    background: rgb(63,82,203);
    background: linear-gradient(90deg, rgba(63,82,203,1) 0%, rgba(30,80,148,1) 39%, rgba(53,101,212,1) 74%);
}

a{
    color:#42d662!important;
    text-decoration: none !important;
}

a:hover{
    color:#0eb50e !important;
}

main{
    margin-left: 80px;
    padding: 16px;
}

body::-webkit-scrollbar{
    width: 5px;
}

body::-webkit-scrollbar-track{
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb{
    background-color:green;
}

.card{
    margin-top: 10px;
}

#email-input .form-control::placeholder{
    opacity: 0.8;
}

#pass-input .form-control::placeholder{
    opacity: 0.8;
}

input::placeholder{
    opacity: 0.7;
}

.boton-ln{
    width: 100%;
}

.boton-mid-len{
    width: 48% !important;
}

.fuente-custom{
    font-size: 15px;
}

#nombreyap .form-control{
    width: 49%;
    display: inline;
}

#info-registro .resize-none{
    resize: none;
}

#info-registro .margen{
    margin-top: 10px;
}



/*Navbar*/

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: green;
    font-size: 24px;
    letter-spacing: 0.3ch;
    width: 100%;
  }

  .logo svg{
      transform: rotate(0deg);
      transition: transform 600ms;
  }

.navbar-custom{
    width: 80px;
    height: 100vh;
    background-color:#1e1f1e;
    position: fixed;
    transition: 100ms ease;
    z-index: 1;
}

.navbar-custom-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item-custom{
    width: 100%;
}

.nav-item-custom:last-child{
    margin-top: auto;
}

.nav-link-custom{
    display: flex;
    align-items: center;
    height: 70px;
    width: 80px;
    filter: grayscale(100%);
    transition: 400ms;
}

.nav-item-custom:hover{
    background: #141418;
}

.nav-link-custom:hover{
    filter: grayscale(0%);
}

.link-text{
    display: none;
    margin-left: 16px;
}

.nav-link-custom svg{
    min-width: 30px;
    margin: 0 24px;
}

.navbar-custom-nav:hover .logo svg{
    transform: rotate(-180deg);
}

.divImagenCompleta{
    height: 90vh;
    width: 100%;
}

.imagenCompleta{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color:#1e1f1e;
}

@media only screen and (max-width:660px){
    .navbar-custom{
        bottom: 0;
        width: 100vw;
        height: 80px;
    }

    .logo{
        display: none;
    }

    .navbar-custom-nav{
        flex-direction: row;
    }

    .nav-link-custom{
        margin: 0 auto;
    }

    .nav-item-custom{
        height: 80px;
    }

    main{
        margin-left: 0;
    }

    .tarjeta{
        margin-bottom: 90px;
    }

    .divImagenCompleta{
        height: 76vh;
    }


}

@media only screen and (min-width:660px){
    .navbar-custom{
        top: 0;
    }

    .navbar-custom:hover .link-text{
        display: block;
        padding-left: 149px;
        padding-right: 149px;
        margin:-149px;
        padding-bottom: 28px;
        padding-top: 28px;
    }
    .navbar-custom:hover{
        width: 256px;
    }

    .nav-item-custom:hover{
        height: 70px;
    }

}


@media only screen and (max-width:850px){
    .card{
        width: 500px !important;
    }
}

@media only screen and (max-width:600px){
    .card{
        width: 320px !important;
    }
}

.color1{
    background-color: red;
}

.imagen{
    height: 100px;
    width: 200px;
    transition: .2s;
}

.imagen:hover{
    -ms-transform: scale(1.06); /* IE 9 */
    -webkit-transform: scale(1.06); /* Safari 3-8 */
    transform: scale(1.06);
    opacity: 0.4;
}

.imagen>a>img{
    width: 100%;
    height: 100px;
    border-radius: 7px;
    transition: .2s;
}

.imagen-usuario{
    width: 150px;
    height: 100px;
    border-radius: 7px;
    border:solid;
    border-width: 1px;
}

.fuenteGrande{
    font-size: 20px;
}

@media only screen and (max-width:1200px){
    .imagen-usuario{
        width: 120px;
        height: 70px;
    }

    .fuenteGrande{
        font-size: 15px;
    }
}

.margenA{
    margin-top:110px;
}

.vistas{
    position: absolute;
    top: 77px;
    left: 1;
    width: 50%;
    height: 10px;
    pointer-events: none;
}

@media only screen and (max-width:450px){
    .imagen{
        width: 150px;
    }

    
}

.animarImagen {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
    }

    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

    textarea{
        resize: none!important;
    }

    .subirImagen{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .esconder{
        display: none;
    }


    .estiloLabel{
        background-color: #f0ad4e;
        padding: 5px;
        border-radius: 4px;
    }

    .estiloLabel:hover{
        cursor: pointer;
    }

    .fuenteCheck{
        font-size:16px;
    }

    .inputRes{
        width: 100%;
    }

    @media only screen and (max-width:550px){
        .inputRes{
            margin-left: 50px;
            width: 185px !important;
        }
    }


    @media only screen and (max-width:996px){

        .fuenteCheck{
            font-size:13px;
        }
    }


    @media only screen and (max-width:600px){

        .fuenteCheck{
            font-size:10.5px;
        }
    }

    .checkHover:hover{
        cursor: pointer;
    }

    .tag{
        border-radius: 30px;
    }

    .tag button{
        position: absolute;
        right: 0;
        top:0;
    }

    .tag p{
        margin-right: 10px;
        word-wrap: break-word;
        text-align: center;
    }

    .modelm{
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .eliminarPost{
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .editarPost{
        position: absolute;
        right: 0;
        bottom: 35px;
    }

    .comentario{
        background-color:#c5cbeb !important;
        border-color: #c5cbeb !important;
    }